linux/g
linux/test.*
linux/mathtext.log

# Final files
build
linux/mathtext

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# EMacs save files
*~
*#*#

# Doxygen files
doc/doxygen/html
doc/doxygen/latex
